.product-card {
    display: block;
    padding: 25px;
    margin: 25px;
    width: 340px;
    height: 573px;
    background-color: #f7f7fa;
    font-family: "Montserrat", sans-serif;
}

.product-card__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 0px;
    margin-top: 25px;
}

.price__text {
    font-weight: 700;
    margin-left: 0px;
}

.price__value {
    font-weight: 400;
    margin-left: 155px;
}